
/*Navbar */
.navContainer {
    background-color: grey;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.a-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

/* Button */
.button-purple {
    padding: 1rem;
    background-color: purple;
}

.button-gray {
    padding: 1rem;
    background-color: rgb(136, 132, 136);
}
.logo {
    width: 150px;
}