* { 
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}

/* mi codigo css */
/* navbar  */
.navContainer {
background-color: firebrick;
padding: 2rem;
}

/* Button  de examples*/
.button-primary {
  background-color: #ff5722;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}















/* App.css */
/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-logo img {
  height: 50px;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
}

.cart-widget {
  position: relative;
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
}

.cart-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff5722;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.contenedor {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
} */